{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>Instagram</title>

<link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" />
<script src="{% static 'bootstrap/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'bootstrap/jquery.form-3.51.0.min.js' %}"></script>
<script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
</head>

<body>

<div class="border-bottom mb-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mb-5">
                {% include 'navbar.html' %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6 justify-content-center">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-secondary justify-content-center">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-3"></div>
</div>



{% block content %}

{% endblock %}

<div class="border-top mt-3">
    <div class="container">
    <footer class="pt-4 my-md-5 pt-md-5">
        <div class="row">
          <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">© 2017-2020</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Cool stuff</a></li>
              <li><a class="text-muted" href="#">Random feature</a></li>
              <li><a class="text-muted" href="#">Team feature</a></li>
              <li><a class="text-muted" href="#">Stuff for developers</a></li>
              <li><a class="text-muted" href="#">Another one</a></li>
              <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Resource</a></li>
              <li><a class="text-muted" href="#">Resource name</a></li>
              <li><a class="text-muted" href="#">Another resource</a></li>
              <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Team</a></li>
              <li><a class="text-muted" href="#">Locations</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
</div>

{% block script %}
<script>
    $(document).ready(function() {
        setTimeout(function() {
            $('.alert').fadeOut('slow');
        }, 2500);
    });
</script>
{% endblock %}

</body>
</html>
